@model IEnumerable<WEBBANMAYTINH.Models.MAYTINH>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Máy Tính</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp;Máy Tính Mới</a>
    </div>
</div>
<div>
    <table class="table table-responsive table-bordered panel-primary">
        <thead>
        <th>Tên Máy Tính</th>
        <th>Ngày Sản Xuất</th>
        <th>Nhà Sản Xuất</th>
        <th>Loại Máy Tính</th>
        <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.TenMayTinh)</td>
                    <td>@Html.DisplayFor(model => item.NgaySanXuat)</td>
                    <td>@Html.DisplayFor(model => item.NhaSanXuat)</td>
                    <td>@Html.DisplayFor(model => item.LoaiMayTinh)</td>
            
                    <td>
                        Edit/Delete
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>  