@model WEBSITEBANMAYTINH.Models.ViewModel.HOADONViewModel
@using WEBSITEBANMAYTINH.Extensions

<br />
<br />
<h2 class="text-info">Delete Hoa Don</h2>
<form method="post">
    <div class="p-4 border rounded row">
        <input hidden asp-for="HOADON.Id" />
        <div class="col-8 ">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="KHACHHANG"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HOADON.KHACHHANG.TenKhachHang" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SANPHAM"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HOADON.SANPHAM.TenSanPham" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HOADON.SoLuongSanPham"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HOADON.SoLuongSanPham" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HOADON.TongDonGia"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HOADON.TongDonGia" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="HOADON.NgayLap"></label>
                </div>
                <div class="col-8">
                    <input asp-for="HOADON.NgayLap" readonly class="form-control" />
                </div>
            </div>
            <div class="col-1">

            </div>

            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Delete" />
                <a asp-action="Index" class="btn btn-success">Back To List</a>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
