@model WEBSITEBANMAYTINH.Models.ViewModel.SANPHAMViewModel
@using WEBSITEBANMAYTINH.Extensions

@{
    ViewData["Title"] = "Create";
}
    <br /><br />
<h2 class="text-info">Create San Pham</h2>
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SANPHAM.TenSanPham"></label>
            </div>
            <div class="col-5">
                <input asp-for="SANPHAM.TenSanPham" class="form-control" />
            </div>
            <span asp-validation-for="SANPHAM.TenSanPham" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SANPHAM.SoLuong"></label>
            </div>
            <div class="col-5">
                <input asp-for="SANPHAM.SoLuong" class="form-control" />
            </div>
            <span asp-validation-for="SANPHAM.SoLuong" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SANPHAM.Image"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SANPHAM.DonGia"></label>
            </div>
            <div class="col-5">
                <input asp-for="SANPHAM.DonGia" class="form-control" />
            </div>
            <span asp-validation-for="SANPHAM.DonGia" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="LOAISANPHAM"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.SANPHAM.LoaiSanPhamId" asp-items="Model.LOAISANPHAM.LOAISANPHAMLIST(Model.SANPHAM.LoaiSanPhamId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NHASANXUAT"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.SANPHAM.NhaSanXuatId" asp-items="Model.NHASANXUAT.NHASANXUATLIST(Model.SANPHAM.NhaSanXuatId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
